/* typography.css */


:root {
    --base-font-family: 'Plus Jakarta Sans', Arial, sans-serif;
    --heading-sans: 'Plus Jakarta Sans', Arial, sans-serif;
    --footer-font-family: 'Plus Jakarta Sans', Arial, sans-serif;
    --heading-serif: 'Playfair Display', serif;
    --serif-font-family: 'Playfair Display', serif;
    --blockquote: 'Playfair Display', serif;
    --italic-serif: 'Playfair Display', serif;

    --base-line-height: 1.7;
    --base-font-percent: 62.5%;
    --base-font-size: 16px, 1rem;
    /*  */
    
    --rem-base: 62.5%;
    
    
    
    
    --font-weight-extralight: 200;
    --font-weight-light: 300;
    --font-weight-regular: 400;
    --font-weight-medium: 500;
    --font-weight-semibold: 600;
    --font-weight-bold: 700;
    --font-weight-extrabold: 800;
    --font-weight-black: 900;
    
    --font-weight-body: var(--font-weight-regular);
    --font-weight-heading: var(--font-weight-heavy);
    --serif-font-weight: var(--font-weight-regular);
    
    /* 
    --font-size-h1: var(--font-size-heading-xxl-mobile);
    --font-size-h2: var(--font-size-heading-xl-mobile);
    --font-size-h3: var(--font-size-heading-lg-mobile);
    --font-size-h4: var(--font-size-heading-md-mobile);
    --font-size-h5: var(--font-size-heading-sm-mobile);
    --font-size-h6: var(--font-size-heading-xs-mobile);
    --font-size-h7: var(--font-size-heading-2xs-mobile); 
    */

    --font-size-huge: 6.25vw; /* 120px */
    --font-size-h1-old: 3.375vw; /* 64px */
    --font-size-h1: 4.275vw; /* 81px */
    --font-size-h2: 48px;
    --font-size-h3: 36px;
    --font-size-h4: 30px;
    --font-size-h5: 22px;
    --font-size-h6: 20px;
    --font-size-h7: 18px;
    --font-size-xsmall: .6em;
    --font-size-xs: .6em;
    --font-size-label: 0.8em;
    --font-size-disclaimer: 0.8em;
    --font-size-small: 1em;
    --font-size-sm: 1em;
    --font-size-base: 1.2em;
    --font-size-body: 1.2em;
    --font-size-medium: 1.3em;
    --font-size-large: 1.6em;
    --font-size-footer: 0.875em;
    --font-size-button: 1em;
    
    --leading-flat: 0.95;
    --line-height-base: 1.7;
    --line-height-h1: var(--leading-flat);
    --line-height-h2: 1.1;
    --line-height-h3: 1.1;
    --line-height-h4: 1.2;
    --line-height-h5: 1.1;
    --line-height-h6: 1.1;

    --line-height-small: 1.14;
    --line-height-regular: var(--line-height-base);
    --line-height-body: var(--line-height-base);
    --line-height-large: var(--line-height-base);
    
    --font-weight-h1: var(--serif-font-weight);
    --font-weight-h2: var(--serif-font-weight);
    --font-weight-h3: var(--font-weight-regular);
    --font-weight-h4: var(--font-weight-regular);
    --font-weight-h5: var(--font-weight-extrabold);
    --font-weight-h6: var(--font-weight-bold);
    --font-weight-h7: var(--font-weight-bold);
    
    --letter-spacing-h1: -0.01em;
    --letter-spacing-h2: -0.025em;
    --letter-spacing-h3: -0.035em;
    --letter-spacing-h4: -0.02em;
    --letter-spacing-h5: -0.02em;
    --letter-spacing-h6: -0.02em;
    --letter-spacing-body: 0;
    --letter-spacing-base: 0;


    --letter-spacing-small: -0.02em;
    --letter-spacing-sub: -0.0em;
    --letter-spacing-medium: 0;
    --letter-spacing-large: 0;
    --letter-spacing-wide: 0.01;
    

    /*  */

    --font-awesome: 'FontAwesome';

    /*  */
    /*  */
    /* 
    Tracking Conversion CSS “letter-spacing”
    1 =1/1000 em
    100 =100/1000 em =0.10 em 
    based on an Em Size of 1000 - not always the case
    */

    /* specific */
    --font-family-menu: var(--base-font-family);
    --font-size-menu: var(--font-size-medium);
    --font-weight-menu: var(--font-weight-regular);
    --letter-spacing-menu: 0.08em;

    --font-family-button: var(--base-font-family);
    --font-size-button: var(--font-size-medium);
    --font-weight-button: var(--font-weight-bold);
    --letter-spacing-button: 0.08em;
   
}


* {
    font-family: var(--base-font-family);
    font-weight: var(--base-font-weight);
    letter-spacing: var(--letter-spacing-base);
}

::-moz-selection { /* Code for Firefox */
    color: var(--white);
    background: var(--secondary);
  }
  
::selection {
    color: var(--white);
    background: var(--secondary);
}

p, blockquote {
    max-width: 75ch;
}

button, 
[class*="button"] { 
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none;
}

html {font-size: 100%;} /* 16px */

html {
    font-size: var(--rem-base);
    -webkit-font-smoothing: antialiased;
    font-feature-settings: normal;
    font-variant-ligatures: normal;
}
  

body {
    font-family: var(--base-font-family);
    font-weight: var(--base-font-weight);
    line-height: var(--base-line-height);
	font-style: normal;
    color: var(--primary);
}

.normal { font-size: var(--font-size-base); }
.micro { font-size: var(--font-size-xsmall); }
.small, small { font-size: var(--font-size-sm); }
.medium { font-size: var(--font-size-md); }
.large { font-size: var(--font-size-lg) ; }
.xlarge { font-size: var(--font-size-xl) ; }

[class*="_light"] { font-weight: var(--light-font-weight);}
[class*="_reg"] { font-weight: var( --reg-font-weight);}
[class*="_med"] { font-weight: var(--med-font-weight);}
[class*="_demi"] { font-weight: var(--demi-font-weight);}
[class*="_bold"] { font-weight: var(--bold-font-weight);}
[class*="_extra"] { font-weight: var(--extra-font-weight);}
[class*="_black"] { font-weight: var(--black-font-weight);}

.scaling_text {
    font-size: max(1rem,min(.38835vw + .908981rem,1.375rem));
}

.italic-serif {
    font-family: var(--italic-serif);
    font-style: italic;
}

h3.italic-serif {
    font-size: 30px;
    line-height: 1.2; 
    max-width: 35ch;   
}

/* links */

.link {
    text-decoration: none;
    transition: var(--transition);
}

.link:hover {
    text-decoration: none;
}

a {
    color: var(--primary);
    font-weight: var(--link-font-weight);
    /* text-underline-offset: 3px;
    text-decoration-thickness: 1px; */
}


/* styles */

h1, h2, h3, h4, h5, h6 {
    line-height: var(--base-line-height);
    margin-bottom: 1rem;
}

h1, h2, h5.serif {
    font-family: var(--heading-serif);
    font-weight: var(--serif-font-weight);
}

h3, h4, h5, h6, .h7 {
    font-family: var(--heading-font-family);
    font-weight: var(--heading-font-weight);
}

/* headings size */


h1 {
    font-size: var(--font-size-h1);
    line-height: 0.95;
}

/* STYLES */



body {
    font-family: var(--font-body);
    font-size: var(--font-size-body);
    font-weight: var(--font-weight-body);
    letter-spacing: var(--letter-spacing-body);
    line-height: var(--line-height-body)
}

p {
    font-size: var(--font-size-base);
    font-weight: var(--font-weight-regular);
    letter-spacing: var(--letter-spacing-base);
    line-height: var(--line-height-regular);
    margin-bottom: 1rem;
}

.small {
    font-size: var(--font-size-small);
    letter-spacing: var(--letter-spacing-small);
    line-height: var(--line-height-small)
}

.medium, .column.medium {
    font-size: var(--font-size-medium);
    letter-spacing: var(--letter-spacing-medium);
    line-height: var(--line-height-base)
}


.large, .column p.large {
    font-size: var(--font-size-large);
    letter-spacing: var(--letter-spacing-large);
    line-height: var(--line-height-large)
}


.subtitle {
    font-family: var(--font-body);
    font-weight: var(--font-weight-body);
    font-size: var(--font-size-xxl);
    line-height: var(--line-height-regular);
    letter-spacing: var(--letter-spacing-sub);
} 

@media screen and (min-width: 1280px) {
    .subtitle {
        font-size: var(--font-size-3xl);
    }
}

b,strong, .bold {
    font-weight: var(--font-weight-bold)
}

i, italic {
    font-style: italic
}

sup {
    margin-left: .1rem;
    font-size: 50%;
    vertical-align: super
}
.disclaimer {
    font-size: var(--font-size-xsmall);
    font-weight: var(--font-weight-light);
    letter-spacing: var(--letter-spacing-wide);
    line-height: var(--line-height-small);
}

.h1,h1 {
    font-size: var(--font-size-h1);
    font-weight: var(--font-weight-h1);
    letter-spacing: var(--letter-spacing-h1);
    line-height: var(--line-height-h1);
    max-width: 14ch;
/* leading-trim:unset; */
}

.h2,h2 {
    font-size: var(--font-size-h2);
    font-weight: var(--font-weight-h2);
    letter-spacing: var(--letter-spacing-h2);
    line-height: var(--line-height-h2);
    max-width: 25ch;
}

.h3,h3 {
    font-size: var(--font-size-h3);
    font-weight: var(--font-weight-h3);
    letter-spacing: var(--letter-spacing-h3);
    line-height: var(--line-height-h3);
    max-width: 25ch;

}

.h4,h4 {
    font-size: var(--font-size-h4);
    font-weight: var(--font-weight-h4);
    letter-spacing: var(--letter-spacing-h4);
    line-height: var(--line-height-h4)
}

.h5,h5 {
    font-size: var(--font-size-h5);
    font-weight: var(--font-weight-h5);
    letter-spacing: var(--letter-spacing-h5);
    line-height: var(--line-height-h5)
}

h5.serif {
    margin-top: 2vw;
    margin-bottom: 1vw;
    padding-top: 2vw;
    border-top: 1px solid rgba(var(--white-rgb), 0.4);
}

.h6,h6 {
    font-size: var(--font-size-h6);
    font-weight: var(--font-weight-h6);
    letter-spacing: var(--letter-spacing-h6);
    line-height: var(--line-height-h6)
}


.h7,h7 {
    font-size: var(--font-size-h7);
    font-weight: var(--font-weight-h7);
    letter-spacing: var(--letter-spacing-h7);
    line-height: var(--line-height-h7)
}

.footer,footer {
    font-size: var(--font-size-footer);
    font-weight: var(--font-weight-regular);
    letter-spacing: var(--letter-spacing-regular);
    line-height: var(--line-height-regular)
}

.brand_heading {
    margin-bottom: 2rem;
}
.brand_heading::after {
    content: '';
    display: block;
    width: 200px;
    height: 6px;
    background-color: var(--white);
    margin-top: 4vw;
}

.dark .brand_heading::after {
    background-color: var(--opposite);
}

  
